<section class="column-hero">
  <div class="column-hero__column column-hero__column-left">
    <figure class="image image--slide-reveal --peach column-hero__column-content">
      <img data-src="/media/images/home-1.jpg" class="u-fit-cover lazyload" alt="" />
    </figure>
    <div class="column-hero__content column-hero__column-content">
      <h3 class="column-hero__eyebrow eyebrow">
        Welcome
      </h3>
      <h2 class="column-hero__heading">
        The show must go on.
      </h2>
      <p class="column-hero__copy">
        Arcade is a unique, all-day food theatre bringing London’s top food and drink concepts together under one roof.
        Our current line-up features Pophams, Casita Do Frango, Chotto by Chotto Matte, Flat Iron Workshop, Lina Stores,
        Le Bab, Pastorcito and TŌU – and we're on the look out for fresh talent
      </p>
    </div>
    <!-- /.content-hero__content -->
  </div>
  <!-- /.column-hero__column -->
  <div class="column-hero__column column-hero__column-right">
    <figure class="image image--slide-reveal --red">
      <img data-src="/media/images/home-2.jpg" class="u-fit-cover lazyload" alt="" />
    </figure>
  </div>
  <!-- /.column-hero__column -->
</section>
