<footer class="site-footer">
  <div class="site-footer__inner container-fluid">
    <nav class="site-footer__nav">
      <ul class="bare-list">
        <li class="site-footer__nav-item"><a href="#0" class="bare-link">Contact</a></li>
        <li class="site-footer__nav-item"><a href="#0" class="bare-link">Legal</a></li>
        <li class="site-footer__nav-item"><a href="#0" class="bare-link">Join Us</a></li>
      </ul>
    </nav>
    <p class="site-footer__colophon">
      <span>©</span> Arcade {{ "now"|date("Y") }}
    </p>
    <nav class="site-footer__social site-footer__nav">
      <ul class="bare-list">
        <li class="site-footer__nav-item"><a href="#0" class="bare-link">Newsletter Sign-up</a></li>
        <li class="site-footer__nav-item site-footer__instagram">
          <a href="#0" class="bare-link">Follow Us {{ svg("media/svg/instagram.svg") }}</a>
        </li>
      </ul>
    </nav>
  </div>
  {# /.container-fluid #}
</footer>
