<header class="site-header">
  <a href="#0" class="site-header__item">{{ svg("media/svg/instagram.svg") }}</a>
  <div class="site-header__logo-container">
    <img src="/media/images/logo.svg" alt="" aria-hidden="true" />
    <h1 class="u-visually-hidden">
      Arcade London
    </h1>
  </div>
  <!-- /.site-header__logo-container -->
  <button class="site-header__item" aria-label="Open menu">
    <span class="menu-lines">
      <span class="menu-lines__line"></span>
      <span class="menu-lines__line"></span>
      <span class="menu-lines__line"></span>
    </span>
  </button>
</header>
