/*
/* General / Mobile
/**********************************************************************/

.column-callout {
  display: grid;
  min-height: calc(100vh + 10rem);
  grid-template-columns: 1fr;
}

/*
/* Large Up
/**********************************************************************/
@include breakpoint($large--up) {
  .column-callout {
    grid-template-columns: 1fr 1fr;
  }
}
