//-----------------------------------------
// Breakpoints
//-----------------------------------------
@mixin breakpoint($criteria) {
  @media screen and ($criteria) { @content; }
}

//-----------------------------------------
// Helpers
//-----------------------------------------
@mixin strip-list() {
  padding-left: 0;
  list-style: none;
}

@mixin strip-button() {
  border: 0;
  appearance: none;
  background: none;
  cursor: pointer;
}


@mixin visually-hidden() {
  // sass-lint:disable no-important
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

@mixin visually-shown($position: inherit) {
  // sass-lint:disable no-important
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

@mixin line-height-crop($line-height) {
  &::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
    content: '';
  }
}

