.menu-lines {
  display: block;
}

.menu-lines__line {
  display: block;
  width: 2.5rem;
  height: 1px;
  background-color: $color-black;

  &:nth-child(1) {
    transform: translateY(-0.7rem)
  }

  &:nth-child(3) {
    transform: translateY(0.7rem)
  }
}
