<section class="overlay-nav">
  <div class="overlay-nav__grid-accent"></div>
  <!-- /.overlay-nav__grid-accent -->
  <div class="overlay-nav__inner">
    <nav class="overlay-nav__nav">
      <ul class="bare-list">
        <li class="overlay-nav__nav-item" style="--i: 1">
          <a href="#0" class="bare-link"><span>Eat &amp; Drink</span></a>
        </li>
        <li class="overlay-nav__nav-item" style="--i: 2"><a href="#0" class="bare-link"><span>Happenings</span></a></li>
        <li class="overlay-nav__nav-item" style="--i: 3"><a href="#0" class="bare-link"><span>Join Us</span></a></li>
        <li class="overlay-nav__nav-item" style="--i: 4"><a href="#0" class="bare-link"><span>Contact</span></a></li>
      </ul>
    </nav>
  </div>
  <!-- /.overlay-nav__inner -->
</section>
